<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-col>
        <div class="ion-text-center">
          <h3>Track your Mail</h3>
          Here you can track the progress of all the mail sent to you.
        </div>
      </ion-col>
      <ion-col>
          <div class="ion-text-center">
            <h3>Find an Office</h3>
            Here you can find an office or agency to send mail through.
          </div>
        </ion-col>
      <ion-col>
          <div class="ion-text-center">
            <h3>Get Help</h3>
            Here you can get help on how to use the app.
          </div>
        </ion-col>
        <ion-col>
            <div class="ion-text-center">
              <h3>Contact the Developer.</h3>
              
            </div>
          </ion-col>
</ion-content>
